<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{#each stylesheets}}
    <link rel="stylesheet" href="{{@root.assets}}/css/{{.}}">
    {{/each}}
  </head>
  <body>
    {{> nav }}

    <div class="container">
      {% body %}
    </div>
    {{#each scripts}}<script src="{{@root.assets}}/js/{{.}}"></script>{{/each}}
  </body>
</html>

